<header
	class="flex bg-white flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl"
>
	<div>
		<h1 class="text-5xl font-bold pb-2">Protect your password</h1>
		<p class="my-4 text-2xl">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates at
			optio quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
			nihil nemo, necessitatibus, est odio pariatur delectus eius dolorem fugit
			soluta ratione enim tempora? Asperiores doloremque, accusamus quod amet
			voluptatibus minus.
		</p>
		<button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 text-cyan-50"
			>Start now</button
		>
	</div>
	<img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
